body {
            background: url(http://gdurl.com/jyvS) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        img {
            border: 5px;
        }

        h1 {
            font-family: Arial;
            color: white;
        }