.intro {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: white;
    text-align: center;
    border: 100px;
    position: relative;
    top: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    margin: 100px;
    float: left;
    position: relative;
    left: 225px;
    text-decoration: underline;
}
a:link {
    color:white;
}
a:visited {
    color: white;
}
