body {
    
    background: url(http://gdurl.com/2nDY) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.front-image {

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 10px;
    border-color: white;

}

h1 {

    font-family: Rockwell;
    color: white;
        
}

button {
            
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Rockwell;

}

.buttons {
    
    text-align: center;

}

.button {
            
    position: absolute;
    top: 50%;
        
}